<!-- Cabecera del contenido -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Título de la página -->
    <ion-title>Generación de informes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Botón para generar el informe en PDF -->
  <ion-button (click)="createPDF()" fill="clear" class="button">
    <ion-icon slot="start" name="add-outline"></ion-icon>
    Create PDF
  </ion-button>

  <!-- Contenedor principal del contenido a exportar -->
  <div #container>

    <!-- Sección del encabezado -->
    <div class="bodyHeader section">
      <h1>Dashboard</h1>
    </div>

    <!-- Sección para las gráficas -->
    <div class="charts-container section">
      <app-bar-chart class="chart"></app-bar-chart>
      <app-pie-chart class="chart"></app-pie-chart>
      <app-line-chart class="chart"></app-line-chart>
    </div>

    <!-- Sección para las tablas -->
    <app-tables [datosTabla]="dataTable"></app-tables>

    <!-- Sección para la lista -->
    <app-lists [dataList]="dataList"></app-lists>

    <!-- Sección para las tablas -->
    <app-tables [datosTabla]="dataTable"></app-tables>

  </div>
</ion-content>
